# Experiment with Various Models

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import math

In /Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
argentina = pd.read_csv('data/argentina_cleaned.csv')
argentina.head(2)

,Unnamed: 0,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type,operation_type
0,0,2020-06-17,2020-06-18,2020-06-17,-34.995340,-58.047423,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,2.844661,0.0,1.70148,474.884308,6370.15545,176556.590602,Department,For Sale
1,1,2020-05-20,2020-05-20,2020-05-20,-34.816634,-59.193616,Argentina,Neuquén,Neuquén,5.000000,2.0,1.00000,72.000000,72.00000,176556.590602,Department,For Sale

In [3]:
argentina.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
argentina.head(1)

,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type,operation_type
0,2020-06-17,2020-06-18,2020-06-17,-34.99534,-58.047423,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,2.844661,0.0,1.70148,474.884308,6370.15545,176556.590602,Department,For Sale

In [5]:
argentina.describe()

,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered,price
count,963098.000000,963098.000000,963098.000000,963098.000000,963098.00000,963098.000000,9.630980e+05,9.630980e+05
mean,-34.816634,-59.193616,2.844661,2.084058,1.70148,474.884308,6.370155e+03,1.765566e+05
std,2.711359,2.366182,1.210602,1.489370,0.94590,2499.260252,2.188542e+06,1.019807e+07
min,-54.840886,-119.699390,1.000000,-16.000000,1.00000,-136.000000,-1.300000e+02,1.000000e-02
25%,-34.816634,-59.193616,2.844661,2.000000,1.00000,178.000000,1.200000e+02,1.900000e+04
50%,-34.649614,-58.498129,2.844661,2.084058,1.70148,474.884308,6.370155e+03,8.800000e+04
75%,-34.548750,-58.373499,3.000000,2.084058,2.00000,474.884308,6.370155e+03,1.800000e+05
max,85.051129,-1.981231,40.000000,900.000000,20.00000,200000.000000,2.147484e+09,1.000000e+10

## Create Baseline Model

In [6]:
from sklearn.dummy import DummyRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, median_absolute_error

In [7]:
X_train, X_test, y_train, y_test = train_test_split(argentina.drop('price', axis=1), argentina.price, test_size=.3)

In [8]:
dummy_mean = DummyRegressor(strategy = 'mean').fit(X_train, y_train)
dummy_median = DummyRegressor(strategy = 'median').fit(X_train, y_train)

mean_preds = dummy_mean.predict(X_test)
median_preds = dummy_median.predict(X_test)

In [9]:
print("MSE - Dummy Regressor w/ Mean: ", mean_squared_error(y_test, mean_preds))
print("MSE - Dummy Regressor w/ Median: ", mean_squared_error(y_test, median_preds))
print()
print("MAE - Dummy Regressor w/ Mean: ", median_absolute_error(y_test, mean_preds))
print("MAE - Dummy Regressor w/ Median: ", median_absolute_error(y_test, median_preds))
print()
print("R2- Dummy Regressor w/ Mean: ", r2_score(y_test, mean_preds))
print("R2 - Dummy Regressor w/ Median: ", r2_score(y_test, median_preds))

MSE - Dummy Regressor w/ Mean:  199489190871.92117
MSE - Dummy Regressor w/ Median:  205454733546.46997

MAE - Dummy Regressor w/ Mean:  120945.59409184521
MAE - Dummy Regressor w/ Median:  78000.0

R2- Dummy Regressor w/ Mean:  -0.0010256385077804797
R2 - Dummy Regressor w/ Median:  -0.030960399076685796

In [10]:
from sklearn.ensemble import GradientBoostingRegressor

Below I get an error for having string columns I believe

In [11]:
gbr = GradientBoostingRegressor()
#gbr.fit(X_train, y_train)
#gbr.predict(X_test)
#gbr.score(X_test, y_test)

## Fix string columns and one-hot encode

In [12]:
argentina.head()

,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type,operation_type
0,2020-06-17,2020-06-18,2020-06-17,-34.995340,-58.047423,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,2.844661,0.000000,1.70148,474.884308,6370.15545,176556.590602,Department,For Sale
1,2020-05-20,2020-05-20,2020-05-20,-34.816634,-59.193616,Argentina,Neuquén,Neuquén,5.000000,2.000000,1.00000,72.000000,72.00000,176556.590602,Department,For Sale
2,2020-07-14,2020-08-13,2020-07-14,-31.116769,-64.482921,Argentina,Córdoba,Valle Hermoso,2.844661,3.000000,1.00000,747.000000,244.00000,176556.590602,House,For Sale
3,2020-05-20,2020-05-20,2020-05-20,-34.816634,-59.193616,Argentina,Neuquén,Neuquén,3.000000,1.000000,1.00000,40.000000,40.00000,176556.590602,Department,For Sale
4,2020-05-20,2020-05-20,2020-05-20,-34.816634,-59.193616,Argentina,Neuquén,Neuquén,2.844661,2.084058,1.00000,35.000000,35.00000,176556.590602,Office,For Sale

In [13]:
argentina.dtypes

start_date          object
end_date            object
created_on          object
lat                float64
lon                float64
l1                  object
l2                  object
l3                  object
rooms              float64
bedrooms           float64
bathrooms          float64
surface_total      float64
surface_covered    float64
price              float64
property_type       object
operation_type      object
dtype: object

Convert necessary columns to datetime:

In [14]:
argentina['end_date'] = pd.to_datetime(argentina['end_date'])
argentina['start_date'] = pd.to_datetime(argentina['start_date'])
argentina['created_on'] = pd.to_datetime(argentina['created_on'])
argentina.dtypes

start_date         datetime64[ns]
end_date           datetime64[ns]
created_on         datetime64[ns]
lat                       float64
lon                       float64
l1                         object
l2                         object
l3                         object
rooms                     float64
bedrooms                  float64
bathrooms                 float64
surface_total             float64
surface_covered           float64
price                     float64
property_type              object
operation_type             object
dtype: object

#### One-Hot Encode columns: l1, l2, l3, price_period, property_type, operation_type

In [15]:
argentina.l3.nunique()

1210

In [16]:
argentina.l2.nunique()

43

In [17]:
argentina.l1.nunique()

4

In [18]:
argentina.property_type.nunique()

10

In [19]:
argentina.operation_type.nunique()

3

I might exclude l3 from one hot encoding and models for now since it will explode with columns

In [20]:
arg2 = argentina.drop('l3', axis=1)

In [21]:
#categorical data
categorical_cols = ['l1', 'l2', 'property_type', 'operation_type'] 

arg3 = pd.get_dummies(arg2, columns = categorical_cols, dtype=int)
print(arg3.columns, len(arg3.columns))

Index(['start_date', 'end_date', 'created_on', 'lat', 'lon', 'rooms',
       'bedrooms', 'bathrooms', 'surface_total', 'surface_covered', 'price',
       'l1_Argentina', 'l1_Brasil', 'l1_Estados Unidos', 'l1_Uruguay',
       'l2_Bs.As. G.B.A. Zona Norte', 'l2_Bs.As. G.B.A. Zona Oeste',
       'l2_Bs.As. G.B.A. Zona Sur', 'l2_Buenos Aires Costa Atlántica',
       'l2_Buenos Aires Interior', 'l2_Canelones', 'l2_Capital Federal',
       'l2_Catamarca', 'l2_Chaco', 'l2_Chubut', 'l2_Colonia', 'l2_Corrientes',
       'l2_Córdoba', 'l2_Entre Ríos', 'l2_Florida', 'l2_Formosa', 'l2_Jujuy',
       'l2_La Pampa', 'l2_La Rioja', 'l2_Maldonado', 'l2_Maryland',
       'l2_Mendoza', 'l2_Miami', 'l2_Michigan', 'l2_Misiones', 'l2_Montevideo',
       'l2_Neuquén', 'l2_New York', 'l2_Pennsylvania',
       'l2_Rio Grande do Norte', 'l2_Rio de Janeiro', 'l2_Rocha',
       'l2_Río Negro', 'l2_Salta', 'l2_San Juan', 'l2_San Luis',
       'l2_Santa Catarina', 'l2_Santa Cruz', 'l2_Santa Fe',
       'l2_Santiago Del Estero', 'l2_São Paulo', 'l2_Tierra Del Fuego',
       'l2_Tucumán', 'property_type_Cottage', 'property_type_Department',
       'property_type_Garage', 'property_type_House', 'property_type_Lot',
       'property_type_Office', 'property_type_Other', 'property_type_PH',
       'property_type_Shop', 'property_type_Warehouse',
       'operation_type_For Rent', 'operation_type_For Sale',
       'operation_type_For Sublease'],
      dtype='object') 71

In [22]:
arg3.head(3)

,start_date,end_date,created_on,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered,...,property_type_House,property_type_Lot,property_type_Office,property_type_Other,property_type_PH,property_type_Shop,property_type_Warehouse,operation_type_For Rent,operation_type_For Sale,operation_type_For Sublease
0,2020-06-17,2020-06-18,2020-06-17,-34.995340,-58.047423,2.844661,0.0,1.70148,474.884308,6370.15545,...,0,0,0,0,0,0,0,0,1,0
1,2020-05-20,2020-05-20,2020-05-20,-34.816634,-59.193616,5.000000,2.0,1.00000,72.000000,72.00000,...,0,0,0,0,0,0,0,0,1,0
2,2020-07-14,2020-08-13,2020-07-14,-31.116769,-64.482921,2.844661,3.0,1.00000,747.000000,244.00000,...,1,0,0,0,0,0,0,0,1,0

## Back to Modeling...

### Gradient Boosting Regressor

In [23]:
#X_train, X_test, y_train, y_test = train_test_split(arg3.drop('price', axis=1), arg3.price, test_size=.3)

GBR apparently doesn't allow datetime objects so we will drop those columns

In [24]:
#gbc = GradientBoostingRegressor()
#gbc.fit(X_train, y_train)
#gbc.predict(X_test)
#gbc.score(X_test, y_test)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(arg3.drop(['price', 'start_date', 'end_date', 'created_on'], axis=1), arg3.price, test_size=.3)

In [27]:
%%time
gbc = GradientBoostingRegressor()
gbc.fit(X_train, y_train)
gbc_preds = gbc.predict(X_test)

CPU times: user 10min 5s, sys: 8.58 s, total: 10min 13s
Wall time: 11min 47s

In [28]:
gbr_rmse = mean_squared_error(y_test, gbc_preds)**(1/2)
gbr_mae = median_absolute_error(y_test, gbc_preds)
gbr_r2 = r2_score(y_test, gbc_preds)

print("MSE - Gradient Boosting Regressor: ", gbr_rmse)
print("MAE - Gradient Boosting Regressor: ", gbr_mae)
print("R2 - Gradient Boosting Regressor: ", gbr_r2)

MSE - Gradient Boosting Regressor:  18606664.681407582
MAE - Gradient Boosting Regressor:  46256.96237954451
R2 - Gradient Boosting Regressor:  0.00011377259059852651

In [29]:
print("R2 score:", gbc.score(X_test, y_test))

R2 score: 0.00011377259059852651

### Dummy Mean and Median Regressor on newly transformed data

In [30]:
dummy_mean = DummyRegressor(strategy = 'mean').fit(X_train, y_train)
mean_preds = dummy_mean.predict(X_test)

dme_rmse = mean_squared_error(y_test, mean_preds)**(1/2)
dme_mae = median_absolute_error(y_test, mean_preds)
dme_r2 = r2_score(y_test, mean_preds)

print("MSE - Dummy Mean Regressor: ", dme_rmse)
print("MAE - Dummy Mean Regressor: ", dme_mae)
print("R2 - Dummy Mean Regressor: ", dme_r2)

MSE - Dummy Mean Regressor:  18607752.831287608
MAE - Dummy Mean Regressor:  112155.84613142241
R2 - Dummy Mean Regressor:  -3.1809754323930406e-06

In [31]:
dummy_median = DummyRegressor(strategy = 'median').fit(X_train, y_train)
median_preds = dummy_median.predict(X_test)

dmd_rmse = mean_squared_error(y_test, median_preds)**(1/2)
dmd_mae = median_absolute_error(y_test, median_preds)
dmd_r2 = r2_score(y_test, median_preds)

print("RMSE - Dummy Median Regressor: ", dmd_rmse)
print("MAE - Dummy Median Regressor: ", dmd_mae)
print("R2 - Dummy Median Regressor: ", dmd_r2)

RMSE - Dummy Median Regressor:  18608056.622300457
MAE - Dummy Median Regressor:  78100.0
R2 - Dummy Median Regressor:  -3.583343613700052e-05

### XGBoost

In [32]:
import xgboost as xgb

In [33]:
%%time
xgbr = xgb.XGBRegressor(n_estimators=100, learning_rate=.08, gamma=0, subsample=.75, colsample_bytree=1, max_depth=7)
xgbr.fit(X_train, y_train)
XGpreds = xgbr.predict(X_test)

CPU times: user 10min 44s, sys: 11.7 s, total: 10min 56s
Wall time: 5min

In [34]:
%%time
xgb_rmse = mean_squared_error(y_test, XGpreds)**(1/2)
xgb_mae = median_absolute_error(y_test, XGpreds)
xgb_r2 = r2_score(y_test, XGpreds)

print("RMSE - XGBoost: ", xgb_rmse)
print("MAE - XGBoost: ", xgb_mae)
print("R2 - XGBoost: ", xgb_r2)

RMSE - XGBoost:  18606354.317978337
MAE - XGBoost:  35083.15234375
R2 - XGBoost:  0.00014712897504842726
CPU times: user 32.6 ms, sys: 17.1 ms, total: 49.7 ms
Wall time: 27.2 ms

### Lasso Regression

In [35]:
%%time
from sklearn import linear_model
las = linear_model.Lasso(max_iter=10000)
las.fit(X_train, y_train)
las_preds = las.predict(X_test)

/Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 801806355628400.0, tolerance: 12124874833284.848
  model = cd_fast.enet_coordinate_descent(

CPU times: user 1h 5min 53s, sys: 1min 46s, total: 1h 7min 39s
Wall time: 1h 14min 33s

In [36]:
%%time
las_rmse = mean_squared_error(y_test, las_preds)**(1/2)
las_mae = median_absolute_error(y_test, las_preds)
las_r2 = r2_score(y_test, las_preds)

print("RMSE - Lasso: ", las_rmse)
print("MAE - Lasso: ", las_mae)
print("R2 - Lasso: ", las_r2)

RMSE - Lasso:  18607101.127803728
MAE - Lasso:  77189.2995117137
R2 - Lasso:  6.68644674995944e-05
CPU times: user 26.5 ms, sys: 20.5 ms, total: 46.9 ms
Wall time: 46.9 ms

### Random Forest

In [37]:
from sklearn.ensemble import RandomForestRegressor

In [38]:
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)
rfr_preds = rfr.predict(X_test)

In [39]:
rfr_rmse = mean_squared_error(y_test, rfr_preds)**(1/2)
rfr_mae = median_absolute_error(y_test, rfr_preds)
rfr_r2 = r2_score(y_test, rfr_preds)

print("RMSE - Random Forest: ", rfr_rmse)
print("MAE - Random Forest: ", rfr_mae)
print("R2 - Random Forest: ", rfr_r2)

RMSE - Random Forest:  18606046.38115357
MAE - Random Forest:  5655.306052738469
R2 - Random Forest:  0.00018022400970829633

## Model's Summary

In [40]:
data = [[dme_rmse, dme_mae, dme_r2], 
        [dmd_rmse, dmd_mae, dmd_r2],
        [gbr_rmse, gbr_mae, gbr_r2], 
        [xgb_rmse, xgb_mae, xgb_r2], 
        [las_rmse, las_mae, las_r2], 
        [rfr_rmse, rfr_mae, rfr_r2]]

Model_Performance = pd.DataFrame(data, index=['Dummy Mean Regressor', 'Dummy Median Regressor', 
                                              'Gradient Boosting Regressor', 'XGBoost', 'Lasso', 
                                              'Random Forest'], 
                                 columns=['RMSE', 'MAE', 'R2'])

Model_Performance

                                     RMSE            MAE        R2
Dummy Mean Regressor         1.860775e+07  112155.846131 -0.000003
Dummy Median Regressor       1.860806e+07   78100.000000 -0.000036
Gradient Boosting Regressor  1.860666e+07   46256.962380  0.000114
XGBoost                      1.860635e+07   35083.152344  0.000147
Lasso                        1.860710e+07   77189.299512  0.000067
Random Forest                1.860605e+07    5655.306053  0.000180

In [42]:
Model_Performance['RMSE'].sort_values()

Random Forest                  1.860605e+07
XGBoost                        1.860635e+07
Gradient Boosting Regressor    1.860666e+07
Lasso                          1.860710e+07
Dummy Mean Regressor           1.860775e+07
Dummy Median Regressor         1.860806e+07
Name: RMSE, dtype: float64

In [41]:
arg3.to_csv('data/argentina_final.csv')