In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("data/argentina.csv")
df.head()

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
0,wdQ5hWhv8P14T7Sh9g4QCg==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-32.716652,-68.642692,Argentina,Mendoza,NaN,...,NaN,350.0,350.0,NaN,NaN,NaN,Excelentes Lotes Sobre Ruta 34,Corredor Responsable: VICTOR E. MONTIVERO - C....,Lote,Venta
1,nnMBYZ4RMRY+vm753EtA+g==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-24.797723,-65.467514,Argentina,Salta,NaN,...,NaN,1541.0,1541.0,NaN,NaN,Mensual,TERRENO + VENTA + JARDINES DE SAN LORENZO +150...,Corredor Responsable: Pablo Castañeda - C.U.C....,Lote,Venta
2,+dnVA1K6JxzL1zAjOEQ1pA==,Propiedad,2020-12-25,2020-12-29,2020-12-25,-34.919373,-58.020591,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,...,NaN,1000.0,1000.0,NaN,NaN,Mensual,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta
3,dLHXKN5/sRZpm9Yk0yI2nA==,Propiedad,2020-12-25,2020-12-29,2020-12-25,-34.919455,-58.024807,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,...,NaN,1000.0,1000.0,NaN,NaN,Mensual,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta
4,wtw/k887EPipd37UYHKb1Q==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-34.364924,-58.783143,Argentina,Bs.As. G.B.A. Zona Norte,Escobar,...,NaN,18164.0,18164.0,NaN,NaN,Mensual,PANAMERICANA 47300,Nave principal 66 x 90 m: 6005 m2 cubiertos...,Otro,Venta

In [13]:
df.groupby('price_period')['price'].mean()

price_period
Diario      40110.000000
Mensual    296616.805340
Semanal    139234.827586
Name: price, dtype: float64

In [14]:
df["price"] = df.groupby("price_period")['price'].transform(lambda x: x.fillna(x.mean()))
df.groupby('price_period')['price'].mean()

price_period
Diario      40110.000000
Mensual    296616.805340
Semanal    139234.827586
Name: price, dtype: float64

In [15]:
df.groupby('price_period')['price'].count()

price_period
Diario          8
Mensual    362978
Semanal        29
Name: price, dtype: int64

In [20]:
df.loc[df['price_period'] == 'Diario', 'price'] = df.loc[df['price_period'] == 'Diario', 'price'] * 30
df.loc[df['price_period'] == 'Semanal', 'price'] = df.loc[df['price_period'] == 'Semanal', 'price'] * 4

In [21]:
df.groupby('price_period')['price'].mean()

price_period
Diario     3.609900e+07
Mensual    2.966168e+05
Semanal    5.569393e+05
Name: price, dtype: float64